<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to flight-booker.com, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight,
      your booking id is: <%= @passenger.booking_id %>.<br>
    </p>
    <p>
      To visit the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing flight-booker.com and have a great day!</p>
  </body>
</html>
