<h1>Airports</h1>

<%= link_to "Flights", "flights#index"%>

<table>

  <thead>
    <tr>
     
      <th>name</th>
      <th>Number of inbound flights</th>
      <th>Number of outbound flights</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= link_to airport.name, airport %></td>
        <td><%= airport.inbound_flights.size %>
        </td>
        <td><%= airport.outbound_flights.size %>
        </td>


        <% end %>
      </tr>
  </tbody>
</table>